<div appWelcome [delay]="3000">Bu metin kopyalanıp silinecek ve 3 saniye sonra geri yüklenecek.</div>

  <table class="table  table-bordered table-lightblue table-hover mx-5 my-5 w-50">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.name }}</td>
        <td>{{ category.description }}</td>
        <button class="btn btn-danger btn-sm mt-4 me-md-2 "(click)="updateCategory(category.id)">Edit</button>
        <button class="btn btn-primary  btn-sm mt-4" (click)="deleteCategory(category.id)">Delete</button>
      </tr>
    </tbody>
  </table>
  <button  appButton (click)="addCategory()">Add</button>
